.H1 {
  margin: 0;
  font-family: Jost, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

.H2 {
  margin: 0;
  font-family: Jost, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.H3 {
  margin: 0;
  font-family: Jost, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.H4 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.Body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.Caption {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.Toast {
  font-family: Jost, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
