.container {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  gap: 24px;
  justify-content: flex-start;
}
