.label {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
  cursor: pointer;
  user-select: none;
}

.input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.text {
  white-space: wrap;
}
