.container {
  max-width: 556px;
  text-align: center;
  background-color: var(--bg);
}

.iconWrapper {
  margin: 12.5px;
}

.title {
  margin-top: 52px;
  margin-bottom: 12px;
  color: var(--text);
}

.description {
  margin-bottom: 32px;
  color: var(--text);
}

.button {
  min-width: 436px;
}
