.container {
  display: flex;
  flex-direction: column;
  width: 324px;
  min-width: 324px;
  padding: 20px;
  border-radius: 12px;
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reset {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  color: var(--accent-color);
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
}

.roleFilter {
  margin-top: 40px;
}
