.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-width: 206px;
  max-width: 460px;
}

.label {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.field {
  display: flex;
}

.error {
  color: var(--text-error);
}
