.userAvatar {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.userName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.emptyAvatar {
  flex-shrink: 0;
  background-color: #8b8989;
  border-radius: 50%;
}
