.logo {
  display: flex;
  gap: 12px;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgb(171 210 122 / 100%);
  border-radius: 50%;
}

.star {
  display: block;
  width: 20px;
  height: 20px;
}

.text {
  font-family: Jost, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--text);
  letter-spacing: -0.264px;
}
