.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: rgba(171, 210, 122, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star {
    width: 20px;
    height: 20px;
    display: block;
}

.text {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.264px;
    color: #1a1a1a;
}
