.toast {
  position: relative;
  width: 340px;
  height: 72px;
  pointer-events: auto;
  background-color: rgb(222 235 197 / 100%);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  transition: all 0.3s ease;
}

.toast:hover {
  box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
  transform: translateX(-4px);
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 30px 24px;
}

.iconWrapper {
  display: inline-flex;
  color: rgb(37 48 23 / 100%);
}

.iconWrapper svg {
  fill: currentcolor;
  stroke: currentcolor;
}

.text {
  flex: 1;
  color: rgb(37 48 23 / 100%);
  white-space: nowrap;
}

.closeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: rgb(37 48 23 / 100%);
  cursor: pointer;
  background: none;
  border: none;
}
