@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/Jost-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/Jost-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  src: url('/src/assets/fonts/Jost-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/Jost-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
}

:root {
  --sans: 'Jost', system-ui, 'Segoe UI', 'Roboto', sans-serif;
  --heading: 'Jost', system-ui, 'Segoe UI', 'Roboto', sans-serif;
  --mono: ui-monospace, consolas, monospace;
  --skill-box-text-color: rgb(80 136 38);
  --text: rgb(37 48 23);
  --text-error: #bf3920;
  --bg: rgb(249 250 247);
  --bg-footer: rgb(255 255 255);
  --bg-menu: rgb(255 255 255);
  --bg-gallery-overlay: rgb(255 255 255 / 50%);
  --border-input-main: rgb(105 115 93);
  --color-placeholder: rgb(105 115 93);
  --color-gallery-img-wrap-empty: #f5f5f5;
  --color-input-disabled: rgb(225 225 225);
  --color-error: rgb(191 57 32);
  --color-caret: rgb(80 136 38);
  --accent-color: rgb(80 136 38);
  --category-business: #eee7f7;
  --category-business-hover: #e5ddf0;
  --category-creative: #f7e7f2;
  --category-creative-hover: #f0ddeb;
  --category-languages: #ebe5c5;
  --category-languages-hover: #e4ddb5;
  --category-education: #e7f2f6;
  --category-education-hover: #dceef4;
  --category-home: #f7ebe5;
  --category-home-hover: #f0e3da;
  --category-health: #e9f7e7;
  --category-health-hover: #e0f3dd;
  --category-other: #e8ecf7;
  --category-other-hover: #dfe5f4;
  --category-other-active: #d5dbed;
  --overlay-color: rgb(142 142 142 / 60%);
  --stepper-accent-color: rgb(171 210 122);
  --stepper-disabled-color: rgb(228 232 223 / 100%);
  --register-accent-color: rgb(80 136 38);
  --empty-avatar-color: #6d8272;
  --empty-avatar-bg: #f5f5f5;

  font: 18px / 145% var(--sans);
  font-synthesis: none;
  color: var(--text);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  background: var(--bg);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --bg: #16171d;
    --bg-gallery-overlay: rgb(0 0 0 / 50%);
    --color-gallery-img-wrap-empty: #1e1f25cf;
    --empty-avatar-color: #a6baa6;
    --empty-avatar-bg: #282c32cf;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

p {
  margin: 0;
}
