.heading {
  margin-bottom: 20px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*
.filter {
  
}

.categotry {

  
}

.subcategory {
  

}

.button {

}

.subsub {

}
*/
.text {
  margin-bottom: -20px;
}
